{% extends '_templates/base.njk' %}

{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}

{% block page_description %}A collection of dairy entries from travels at sea.{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-7">
        <h1>A pirate's life is for me</h1>
        <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
    </div>
  </div>
</div>
<hr>
  {% for entry in blog.blogs %}
    <h3 class="text-center"><a href="blog/{{ entry.slug }}.html">{{entry.headline}}</a></h3>
    <p class="text-center">{{entry.date}}</p>
  <hr>
{% endfor %}
{% endblock %}
